In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Trat,TH,2022-02-11 07:02:14,12.5000,102.5000,86.92,67,100,6.13
1,1,Clyde River,CA,2022-02-11 07:02:15,70.4692,-68.5914,-16.37,76,100,27.63
2,2,Hobart,AU,2022-02-11 07:02:15,-42.8794,147.3294,68.27,57,20,23.02
3,3,Arraial Do Cabo,BR,2022-02-11 07:02:16,-22.9661,-42.0278,72.07,89,100,3.87
4,4,Hermanus,ZA,2022-02-11 07:02:17,-34.4187,19.2345,71.91,62,0,0.34

In [5]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))
# Maximum temperature heatmap (1)
fig = gmaps.figure()
heat_layer =gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness 
locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness 
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Trat,TH,2022-02-11 07:02:14,12.5000,102.5000,86.92,67,100,6.13
7,7,Kulhudhuffushi,MV,2022-02-11 07:02:18,6.6221,73.0700,80.78,76,8,7.40
10,10,Masvingo,ZW,2022-02-11 07:02:19,-20.0637,30.8277,78.30,49,67,5.12
11,11,Port Blair,IN,2022-02-11 07:02:19,11.6667,92.7500,86.04,66,40,11.50
16,16,Faanui,PF,2022-02-11 07:02:21,-16.4833,-151.7500,81.66,73,11,12.88
17,17,Hithadhoo,MV,2022-02-11 07:02:22,-0.6000,73.0833,81.30,69,100,5.21
26,26,Ahipara,NZ,2022-02-11 07:02:25,-35.1667,173.1667,75.58,91,81,9.89
31,31,Tautira,PF,2022-02-11 07:00:34,-17.7333,-149.1500,82.42,73,100,13.04
33,33,San Pedro,PH,2022-02-11 07:02:28,14.3500,121.0167,86.36,67,33,16.71
39,39,Butaritari,KI,2022-02-11 07:02:30,3.0707,172.7902,82.11,79,21,18.12

In [23]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0             Trat      TH     86.92  12.5000  102.5000
7   Kulhudhuffushi      MV     80.78   6.6221   73.0700
10        Masvingo      ZW     78.30 -20.0637   30.8277
11      Port Blair      IN     86.04  11.6667   92.7500
16          Faanui      PF     81.66 -16.4833 -151.7500
17       Hithadhoo      MV     81.30  -0.6000   73.0833
26         Ahipara      NZ     75.58 -35.1667  173.1667
31         Tautira      PF     82.42 -17.7333 -149.1500
33       San Pedro      PH     86.36  14.3500  121.0167
39      Butaritari      KI     82.11   3.0707  172.7902

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Trat,TH,86.92,12.5000,102.5000,สวนหนิง-อัศ
7,Kulhudhuffushi,MV,80.78,6.6221,73.0700,Haajy Guest House 1
10,Masvingo,ZW,78.30,-20.0637,30.8277,River Side Lodge
11,Port Blair,IN,86.04,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
16,Faanui,PF,81.66,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
17,Hithadhoo,MV,81.30,-0.6000,73.0833,Scoop Guest House
26,Ahipara,NZ,75.58,-35.1667,173.1667,Ahipara Holiday Park
31,Tautira,PF,82.42,-17.7333,-149.1500,Pension Oaoa
33,San Pedro,PH,86.36,14.3500,121.0167,Palines Apartment and Guesthouse
39,Butaritari,KI,82.11,3.0707,172.7902,Isles Sunset Lodge

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))